# Environments
.venv
venv/
.env
.env.*

# Python
*.pyc
__pycache__/
pip-cache/

# Node
node_modules/
.vite/
dist/
dist-ssr/
*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs and databases
*.log
local.db
db.sqlite3
/instance

# Other
cookies.txt
/tastebite-backend/app/static/uploads/